*.egg-info

*.log

*.pkg

*.pyc

*.pyz

*.toc

.coverage

.coverage.*

.idea

build

debug.txt

dist

MANIFEST

.DS_Store

htmlcov

site

.coverage.gw*

.tox

.cache/v/cache/lastfailed

tests/dev

unused.txt
