*.egg-info

*.log

*.pkg

*.pyc

*.pyz

*.toc

.coverage

.coverage.*

.idea

MANIFEST

.DS_Store

htmlcov

site

.coverage.gw*

.tox

.cache/v/cache/lastfailed

tests/dev

unused.txt

keypack.pyu

private

test.py

.python-version

coverage.xml

.pytest_cache
