appdirs >= 1.4.3
bsdiff4 == 1.1.5
certifi >= 2019.3.9
dsdev-utils >= 1.0.4
ed25519 >= 1.5, <2.0
pyinstaller >= 3.0
pywin32 == 224; platform_system == 'Windows'
six >= 1.12.0, < 2.0
stevedore >= 1.30.1, < 2.0
urllib3 >= 1.24.1, < 2.0
